<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="headline">
	<div class="tooltip-head tooltip-head-${item.getRarityClass()}">
		<h3 class="d3-color-${item.getRarityClass()}">
			${item.itemName}
			turmoil.item.${item.itemType.toString().toLowerCase()}.${item.itemCode}
		</h3>
	</div>
</div>

<div th:fragment="flavor">
	<div class="tooltip-extension ">
		<div class="flavor">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit,
			sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</div>
	</div>
</div>

<div th:fragment="attributes">
	<ul class="item-effects">

		<p class="item-property-category">turmoil.item.info.effects</p>

		<!-- default/utility/enchant -->
		g:each in="${item.attributes}"
			<li class="d3-color-blue d3-item-property-default">
				<p class="attributeEntry">
					code="turmoil.item.attribute.${it.type}" args="${it.getValues()}"
				</p>
			</li>
		/g:each

		<!--
		<li class="d3-color-white full-socket">
			<img class="gem" src="http://media.blizzard.com/d3/icons/items/small/emerald_18_demonhunter_male.png" />
			<span class="socket-effects">
				Lorem ipsum dolor sit amet 125,0%
			</span>
		</li>

		<li class="d3-color-orange d3-item-property-utility">
			<p>
				Lorem ipsum dolor sit amet, <span class="value">197</span>, consectetur adipisicing elit, sed do eiusmod tempor
			</p>
		</li>
		-->
	</ul>
</div>

<div th:fragment="rarity">
	<ul class="item-type">
		<li><span class="d3-color-${rarityClass}">turmoil.item.rarity.${item.rarity}</span></li>
	</ul>
</div>

<div th:fragment="requirements">
	<ul class="item-extras">
		<li class="item-reqlevel">
			<span class="d3-color-gold">code="turmoil.item.info.required.level": </span><span class="value">${item.level}</span>
		</li>
	</ul>

	<span class="item-unique-equipped">code="turmoil.item.info.unique.equipped"</span>
</div>

<div th:fragment="itemSlotTooltip">
<span class="d3-icon d3-icon-item d3-icon-item-large  d3-icon-item-${item.getRarityClass()}">
	<span class="icon-item-gradient">
		<span	class="icon-item-inner icon-item-${itemTypeClass}"
				 >
			style="background-image: url('${resource(dir: item.getImagePath(), file: item.getImageFile())}');"
		</span>
	</span>
</span>
</div>

</body>
</html>