<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title My testing area #{anotherOne}
    body
        if (myValue > 3)
            div.lalal Ala ma kotka a kotek ma #{myValue}
        else
            .lalal Ala nie ma kotka :((( #{myValue}